body {
	display:flex;
	flex-direction : column;
	width: 100%;
	padding: 0px;
	margin: 0px;
	justify-content: space-between;
}

header {
	display:flex;
	background-color:crimson;
	justify-content: center;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

footer {
	display:flex;
	background-color: black;
	width: 100%;
	font-color: white;
	justify-content: space-around;
}